.hudoro-accordion {
  border-radius: 6px;
  border: 2px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(112, 144, 176, 0.18);
  overflow: hidden;
}

.hudoro-accordion-button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.hudoro-accordion-button:hover {
  background: rgba(112, 144, 176, 0.18);
}
.hudoro-accordion-button,
.hudoro-accordion-panel {
  transition: 0.3s;
  overflow: hidden;
}
.hudoro-accordion-panel {
  padding-inline: 16px;
}
.hudoro-accordion-button {
  padding: 16px;
}

.hudoro-accordion-item {
  display: grid;
  grid-template-rows: 1fr 0fr;
  transition: 0.3s;
  border-bottom: 1px solid #d1d5db;
}
.hudoro-accordion-item.active {
  transition: 0.3s;
  grid-template-rows: 1fr 1fr;
}

.hudoro-accordion-item.active > .hudoro-accordion-panel {
  padding-top: 16px;
  padding-bottom: 16px;
}

.hudoro-accordion-arrow {
  transition: 0.3s;
}
.hudoro-accordion-arrow-active {
  transform: rotate(180deg);
}
