.hudoro-accordion {
  border-radius: var(--hsd-ui-radii-md, 6px);
  border: var(--hsd-ui-border, 1px) solid var(--hsd-ui-color-gray-200, #e5e7eb);
  background: var(--hsd-ui-color-gray-50);
  overflow: hidden;
}

.hudoro-accordion-button {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  height: max-content;
}
.hudoro-accordion-button:hover {
  background: #edf0f2;
}
.hudoro-accordion-button,
.hudoro-accordion-panel {
  transition: 0.3s;
  overflow: hidden;
}
.hudoro-accordion-panel {
  padding-inline: var(--hsd-ui-spacing-md, 14px);
}
.hudoro-accordion-button {
  padding: var(--hsd-ui-spacing-md, 14px);
}

.hudoro-accordion-item {
  display: grid;
  grid-template-rows: max-content 0fr;
  transition: 0.3s;
  border-bottom: 1px solid var(--hsd-ui-color-gray-200, #e5e7eb);
}
.hudoro-accordion-item:last-child {
  border-bottom: none;
}
.hudoro-accordion-item.active {
  transition: 0.3s;
  grid-template-rows: max-content 1fr;
}

.hudoro-accordion-item.active > .hudoro-accordion-panel {
  padding-top: var(--hsd-ui-spacing-md, 14px);
  padding-bottom: var(--hsd-ui-spacing-md, 14px);
}

.hudoro-accordion-arrow {
  transition: 0.3s;
}
.hudoro-accordion-arrow-active {
  transform: rotate(180deg);
}
